.container {
    width: 90%;
    height: 70vh;
    margin: 0 auto;
}

.items {
    border: 1px solid #ccc;
    display: flex;
    box-sizing: border-box;
    /* background: red; */
    /* flex-direction: column; */
    margin-top: 50px;
    width: 80%;
    height: 85%;
    flex-wrap: wrap;
}

.name {
    border-bottom: 1px solid #ccc;
    display: flex;
    /* background: blue; */
}

h2 {
    margin-left: 10px;
    height: 10%;
}

.row-sec {
    display: flex;
    height: 80%;
    background: #fff;
    display: flex;
}

.avatar {
    display: flex;
    flex-direction: column;
    flex: 30%;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    text-align: center;
    height: 55%;
    /* background: blue; */
}

.avatar img {
    width: 45%;
    height: 55%;
}

.rows {
    flex: 70%;
    height: 100%;
}

h4 {
    margin: 10px 0;
    padding-left: 10px;
    opacity: .8;
}

p, a {
    padding-left: 10px;
}

.row-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 50%;
}

.schedule {
    flex: 50%;
}

.location {
    flex: 50%;
    border-bottom: 1px solid #ccc;
}

.row-two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 50%;
}

.row-sec p, .row-sec h4 {
    font-size: 14px;
}

h2 {
    font-size: 17px;
}

.questions {
    display: flex;
    flex-direction: column;
    flex: 50%;
}

.post {
    flex: 50%;
    border-top: 1px solid #ccc;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 800px) {
    #title_img {
        display: block;
        width: 30px;
        height: 30px;
    }

    p, h4 {
        font-size: 8px;
    }

    .items {
        width: 90%;
    }

    .avatar {
        /* background: red; */
        justify-content: space-around;
    }

    .avatar img {
        width: 45%;
        height: 40%;
    }

    .avatar a {
        font-size: 14px;
    }

    .items {
        height: 70%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .items {
        height: 70%;
        width: 70%;
        /* background: red; */
    }
}

@media screen and (min-width: 1200px) {
    .avatar a {
        font-size: 17px;
    }

    p, h4 {
        font-size: 18px;
    }
}